.example-form {
    min-width: 250px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
